* {
  margin: 0;
  padding: 0;
}
<style type="text/css">
    .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }
</style>
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.banner {
  background: url(./1.png);
  width: 100%;
  height: 515px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.banner>.mask {
  background-color: rgba(0, 0, 0, 0.5);
  height: 515px;
}

.topNavBar {
  display: block;
  margin: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Arial black";
}

.logo>.rs {
  color: red;
  margin-right: 4px;
}

nav {
  float: right;
  margin-right: 16px;
}

ul {
  display: block;
}

ul>li {
  list-style: none;
  float: left;
  display: block;
}

ul>li>a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin: 0 16px;
  padding: 4px;
  display: block;
}

ul>li>a:hover {
  border-bottom: 3px solid yellow;
}

.userCard {
  
  margin-left:auto;
  margin-right:auto;
  max-width: 940px;
}
.userCard .pictureAndText{padding: 50px;display: inline-block;}
.userCard .picture{float: left;}
.userCard .text{float: left;width:474px;margin-left: 65px;}
.userCard .img {
  background: url(./avatar.jpg);
}

.userCard .welcome {
  display: inline-block;
  background: #e6686a;
  color: white;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 16px;
}

.userCard .welcome .triangle {
  border: 10px solid transparent;
  width: 0px;
  border-top: 0;
  border-left-color: #e6686a;
  position: absolute;
  top: 100%;
  left: 4px;
}
.userCard h1{
  margin:16px 0 0 0;
}
.userCard .text hr{
  margin:16px 0 20px 0;
}
hr{height:0;border:1px solid #dedede;}
.userCard .text dl dt,
.userCard .text dl dt{
  float: left;
}
.userCard .text dl dt{
  width:30%;
  font-size: bold;
}
.userCard .text dl dd{
  width:70%;
  color: #aaa9a9;
}
.userCard > footer{
  background: #E6686A;text-align: center;
}
.userCard >footer a{display: inline-block;margin:16px;border-radius:50%;}
.userCard footer a:hover{background: #cf5d5f;}
.userCard > footer svg{
  height: 24px; vertical-align: top;
  width:24px;
  fill: white;
  padding:8px;
}